@use 'variables' as v;
@use 'base/mixins' as m;

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body {
    font-family: v.$principal;
}
h1, h2, h3, h4 {
    margin: 0;
} 
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
.titulo-seccion {
    margin-bottom: 2rem;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: v.$azul;
    text-decoration: underline;
    text-decoration-color: v.$grisOscuro;
    text-decoration-thickness: .5rem;
}
//    Boton
.btn {
    a {
        text-decoration: none;
        display: inline-block;
        color: v.$negro;
        border-radius: 3rem;
        padding: 1rem 2rem;
        border: .1rem solid v.$negro;
        transition: .5s;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 1rem;
        &:hover {
            background-color: v.$azul;
            color: v.$blanco;
        }
    }
}
//  Tecnologia
.tecnologia {
    display: flex;
    gap: .5rem;
    align-items: center;
    .fa-brands {
        margin: .5rem;
        font-size: 3rem;
        &.fa-css3-alt {
            color: v.$css;
        }
        &.fa-html5 {
            color: v.$html;
        }
        &.fa-square-js {
            color: v.$js;
        }
        &.fa-sass {
            color: v.$sass;
        }
        &.fa-php {
            color: v.$php;
        }
        &.fa-gulp {
            color: v.$gulp;
        }
        &.fa-npm {
            color: v.$npm;
        }
        &.fa-node {
            color: v.$node;
        }
        &.fa-vuejs {
            color: v.$vue;
        }
        &.fa-git-alt {
            color: v.$git;
        }
        &.fa-bootstrap {
            color: v.$boot;
        }
        &.fa-github {
            color: v.$gitHub;
        }
    }
    .fa-solid {
        margin: .5rem;
        font-size: 3rem;
        &.fa-database {
            color: v.$sql;
        }
    }
}
//  Redes
#inicio,
#proyectos,
#derechos {
    .redes {
        display: flex;
        gap: 1rem;
        a {
            font-size: 2.5rem;
            color: v.$blanco;
            margin: auto;
            transition: .5s;
        }
        .linkedin {
            a:hover {
                color: v.$azul;
            }
        }
        .git {
            a:hover {
                color: v.$gitHub;
            }
        }
    }
}
//  Responsive
.pantalla {
    display: flex;
    .fa-solid {
        margin: .5rem;
        font-size: 2.5rem;
        color: v.$grisOscuro;
    }
}