@use 'variables' as v;

@mixin celular {
    @media (min-width: v.$celular){
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet){
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop){
        @content;
    }
}

@mixin grid($columna, $separacion) {
    display: grid;
    grid-template-columns: repeat($columna, 1fr);
    gap: $separacion;
}