// Tipografia
$principal: 'Rubik', sans-serif;

// Colores
$azul: #1877F2;
$azulOscuro: #111135;
$grisClaro: #f3f3f3;
$grisOscuro:#565656;
$blanco: #fff;
$negro: #000;
$morado: #78288c;

// Tamaños Pantallas
$celular: 480px;
$tablet: 768px;
$desktop: 1024px;