@use 'base/mixins' as m;
@use 'base/variables' as v;

#contacto {
    padding: 3rem 1.5rem;
    background-color: v.$grisClaro;
    .fila {
        display: flex;
        justify-content: center;
    }
    .whatsapp {
        i {
            margin-left: 1rem;
        }
        a:hover{
            background-color: v.$whats;
        }
    }
    .correo {
        i {
            margin-left: 1rem;
        }
    }
}