#proyectos {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../../../build/img/portafolio.jpg");
    background-size: cover;
    background-position: center center;
    height: 50vh;
}