@use 'base/mixins' as m;
@use 'base/variables' as v;

.redes {
    display: flex;
    gap: 1rem;
    a {
        text-decoration: none;
        font-size: 2.5rem;
        color: v.$blanco;
        margin: auto;
        transition: .5s;
    }
    .face {
        a:hover {
            color: v.$azul;
        }
    }
    .git {
        a:hover {
            color: v.$morado;
        }
    }
}