@use 'base/mixins' as m;
@use 'base/variables' as v;

#inicio {
    .redes {
        @include m.tablet {
            display: none;
        }
    }
    nav {
        @include m.tablet {
            display: none;
        }
        &.responsive {
            @include m.desktop {
                display: block;
                background-color: rgba(0,0,0,.8);
                width: 100%;
                position: absolute;
                top: 5.4rem;
                left: 0;
                padding: 1rem 0;
            }
            ul {
                @include m.tablet {
                    display: block !important;
                    text-align: center;
                    padding: 0;
                }
                li {
                    @include m.tablet {
                        margin: 1rem 0;
                    }
                }
            }
        }
    }
    #icono-nav {
        @include m.tablet {
            display: block;
            font-size: 2.5rem;
            cursor: pointer;
        }
    }
    .presentacion {
        h2 {
            @include m.tablet {
                font-size: 4rem;
            }
        }
    }
}
#sobreMi {
    @include m.tablet {
        text-align: center;
        padding: 5rem 0;
        flex-direction: column;
    }
}
#servicios {
    @include m.tablet {
        padding: 5rem 1.5rem;       
    }
    .fila {
        .nota {
            @include m.desktop {
                grid-column: 2 / 4;
                grid-row: 2 / 3;
                display: flex;
                align-items: center;
            }
            @include m.tablet {
                grid-column: 1 / 3;
                grid-row: 3 / 4;
            }
        }
        @include m.celular {
            display: block;
        }
    }
    .servicio {
        @include m.tablet {
            margin: 1rem auto;
        }
    }
}
#portafolio {
    @include m.tablet {
        padding: 5rem 0;
    }
    .filas {
        @include m.celular {
            display: block;
        }
        .proyecto {
            @include m.tablet {
                margin: 1rem auto;
            }
        }
    }
}
.contacto {
    @include m.tablet {
        padding: 5rem 1.5rem;
        padding-top: 0;
    }
    .contenedor-form {
        .mitad {
            @include m.tablet {
                margin-bottom: 1.5rem;
                display: block;
            }
            input {
                @include m.tablet {
                    width: 100%;
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}