@use 'base/mixins' as m;
@use 'base/variables' as v;

.redes {
    @include m.tablet {
        display: none;
    }
}

nav {
    @include m.tablet {
        display: none;
    }
    &.responsive {
        @include m.tablet {
            display: block;
            background-color: rgba(0,0,0,.8);
            width: 100%;
            position: absolute;
            top: 4.8rem;
            left: 0;
            padding: 1rem 0;
        }
        ul {
            @include m.tablet {
                display: block !important;
                text-align: center;
            }
            li {
                @include m.tablet {
                    margin: 1rem 0;
                }
            }
        }
    }
}
#icono-nav {
    @include m.tablet {
        display: block;
        font-size: 2.5rem;
        cursor: pointer;
    }
}
#inicio {
    .presentacion {
        h2 {
            @include m.tablet {
                font-size: 4rem;
            }
        }
    }
}
#sobreMi {
    @include m.tablet {
        padding: 5rem 0;
        display: block;
    }
    .contenedor-foto {
        @include m.tablet {
            max-width: 30rem;
            margin: auto;
        }
        img {
            @include m.tablet {
               padding: .8rem;
            }
        }
    }
    .titulo-seccion {
        @include m.tablet {
            margin-top: 1.5rem;
            text-align: center;
        }
    }
    .sobremi {
        h2 {
            @include m.tablet {
                text-align: center;
            }
        }
    }
}
#servicios {
    @include m.tablet {
        padding: 5rem 1.5rem;       
    }
    .fila {
        @include m.tablet {
            display: block;
        }
    }
    .servicio {
        @include m.tablet {
            margin: 1rem auto;
        }
    }
}
#portafolio {
    @include m.tablet {
        padding: 5rem 0;
    }
    .fila {
        @include m.tablet {
            display: block;
        }
        .proyecto {
            @include m.tablet {
                margin: 1rem auto;
            }
        }
    }
}
.contacto {
    @include m.tablet {
        padding: 5rem 1.5rem;
        padding-top: 0;
    }
    .contenedor-form {
        .mitad {
            @include m.tablet {
                margin-bottom: 1.5rem;
                display: block;
            }
            input {
                @include m.tablet {
                    width: 100%;
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}