@use 'base/variables' as v;
@use 'base/mixins' as m;

#inicio {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("../../../build/img/fondo.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;

    .contenido {
        header {
            background-color: rgba(0,0,0,.8);
            position: fixed;
            width: 100%;
            z-index: 100;
            top: 0;
        }
    }

    .contenido-header {
        max-width: 110rem;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    
        a {
            text-decoration: none;
        }
    
        h1 {
            text-align: center;
            font-size: 3rem;
            color: v.$azul; 
        }
    }
}
.contenido-header {
    nav {
        ul {
            list-style: none;
            display: flex;
            align-items: center;

            li {
                a {
                    text-decoration: none;
                    color: v.$blanco;
                    margin: 0 1.2rem;
                    font-size: 2rem;
                    font-weight: 300;
                    transition: .5s;

                    &:hover {
                        color: v.$azul;
                    }
                }
            }
        }
    }
}
#inicio {
    .redes {
        display: flex;
        gap: 1rem;

        a {
            text-decoration: none;
            font-size: 2.5rem;
            color: v.$blanco;
            margin: auto;
            transition: .5s;
        }
        .face {
            a:hover {
                color: v.$azul;
            }
        }
        .git {
            a:hover {
                color: v.$morado;
            }
        }
    }
}
#inicio {
    .seleccionado {
        color: v.$azul;
    }
}
.presentacion {
    max-width: 110rem;
    height: 100vh;
    margin: auto;
    color: v.$blanco;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .bienvenida {
        font-size: 3rem;
        margin-bottom: 2rem;
        text-transform: uppercase;
        letter-spacing: .7rem;
    }

    .descripcion {
        max-width: 70rem;
        margin: 2.5rem auto;
        font-size: 1.8rem;
        text-align: center;
    }
}
.presentacion {
    h2 {
        font-size: 4.5rem;
        margin-bottom: 2.5rem;
        text-align: center;
        span {
            font-size: 3rem;
            color: v.$azul;
        }
    }
    a {
        text-decoration: none;
        display: inline-block;
        margin: 2.5rem;
        padding: 2rem 2.5rem;
        border: .2rem solid v.$blanco;
        border-radius: 5rem;
        color: v.$blanco;
        font-weight: bold;
        text-transform: uppercase;
        transition: .5s;
        letter-spacing: .5rem;
        font-size: 1.5rem;

        &:hover {
            background-color: v.$azul;
        }
    }
}
#icono-nav {
    color: v.$blanco;
    display: none;
}