@use 'base/mixins' as m;
@use 'base/variables' as v;

#sobreMi {
    max-width: 110rem;
    margin: auto;
    padding: 3rem 1.5rem;
    color: v.$azulOscuro;
    display: flex;
    align-items: center;

    .titulo-seccion {
        font-size: 3rem;
        text-transform: uppercase;
        color: v.$azulOscuro;
        text-decoration: underline;
        text-decoration-color: #d3d3d3;
        text-decoration-thickness: .5rem;
    }
}
.contenedor-foto {
    max-width: 40rem;

    img {
        padding: 2rem;
        width: 80%;
        border-radius: 5rem;
        background-color: v.$grisClaro;
    }
}
.sobremi {
    margin: 0 4rem;

    h1 {
        font-size: 3.4rem;
        margin: 2rem 0;
        letter-spacing: .2rem;
    }
    p {
        font-size: 1.4rem;
        line-height: 2.5rem;
        color: v.$grisOscuro;
        margin-bottom: 1.2rem;
    }
    span {
        color: v.$moradoudemy;
        font-weight: bold;
    }
}